
html {
  font: normal 18px Helvetica, arial, sans-serif;
}

/* banner and message area */

header {
  background-color: #39363D;
  text-align: center;
}

h1 {
  padding: 20px 0;
}

h1 a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

h1 a:hover {
  font-size: 2.1rem;
}

nav a {
  display: block;
  text-decoration: none;
  background-color: #7F8489;
  text-align: center;
  color: #F5F5F5;
  font-size: 1.2rem;
  line-height: 1.5;
}

nav a:hover {
  color: #525F7F;
}

.message {
  font-size: 1rem;
  background-color: #FFF9B5;
  padding: 10px 0 10px 15px;
}

/* search by category */

 h2 {
  font-size: 24px;
  margin: 5% 2%;
  color: #47434C;
}

.search-methods,
.search-results {
  display: block;
  max-width: 600px;
}

.category-search ul {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.category-search li {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 30%;
}

.category-search a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 1rem 0;
  background-color: #525F7F;
  border-radius: 20px;
}

.category-search a:hover {
  background-color: #7F8489;
}

/* Input and submit button for searching by name */

.name-search input {
  width: 50%;
  height: auto;
  font-size: 1.2rem;
  vertical-align: middle;
  margin: 0 5%;
}

.name-search button {
  line-height: 2;
  padding: 0 5%;
  font-size: 1rem;
  border-radius: 10px;
  color: #fff;
  background-color: #EB502D;
  text-shadow: 1px 1px 1px #39363D;
  vertical-align: middle;
}

.name-search button:hover {
  background-color: rgba(205, 81, 51, .6);
}

/* Search results including name-to-info-card animation */

.search-results {
  padding-bottom: 100px;
}

.search-results > h2 {
  margin: 5% 2% 2% 2%;
}

.search-results > h3 {
  margin: 10px 20px;
}

.search-results input {
  display: none;
}

.search-results input + li {
  font-size: 0;
  padding: 0 20px;
}

.search-results input + li p {
  font-size: 2rem;
  font-weight: bold;
}

.search-results input + li p:hover {
  color: #EB502D;
}

.search-results input:checked + li {
  position: absolute;
  background-color: #fff;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 10px 20px;
}

.search-results input:checked + li ul {
  font-size: 1rem;
  line-height: 2;
}

.search-results input:checked + li h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #47434C;
}

.search-results input:checked + li a {
  display: inline-block;
  font-size: 1rem;
  margin: 1.5rem 0;
  color: #39363D;
}

.search-results input:checked + li a:hover {
  color: #EB502D;
}

/* input entry and editing */

fieldset {
  margin: 1%;
}

fieldset h1 {
  font-size: 24px;
  margin: 3% 2%;
  color: #47434C;
}

fieldset dl dt,
fieldset dl dd {
  display: inline-block;
  box-sizing: border-box;
}

fieldset dl {
  margin: 10px 0;
}

fieldset > input {
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #EB502D;
  color: #fff;
  margin: 1rem 0;
  text-shadow: 1px 1px 1px #39363D;
}

fieldset > input:hover {
  background-color: rgba(205, 81, 51, .6);
}

.category dt {
  font-size: .8rem;
  font-weight: bold;
  margin-right: 5px;
}

.category dd {
  margin-right: 5%;
  vertical-align: middle;
}

.contact-info {
  line-height: 2;
  font-size: 0;
}

.contact-info dt,
.contact-info dd {
  vertical-align: middle;
  margin: 5px 0;
}

.contact-info dt {
  font-size: .75rem;
  font-weight: bold;
  width: 20%;
}

.contact-info dd {
  width: 80%;
}

.contact-info dd input {
  width: 100%;
  font-size: 1rem;
}


#delete-contact button {
  margin: 0 1%;
  line-height: 1.5;
  padding: 5px;
  font-size: .75rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

#delete-contact button:hover {
  background-color: rgba(0, 0, 0, .5);
}

#reset button {
  position: absolute;
  top: 5px;
  right: 5px
}

@media screen and (min-width: 600px) {
  
  h1 {
    display: inline-block;
    width: 70%;
  }
  
  nav {
    display: inline-block;
    width: 160px;
    vertical-align: bottom;
  }
  
  nav a {
    padding: 5px;
  }

  fieldset {
    margin: 15px 2%;
    max-width: 600px;
  }

  fieldset h1 {
    font-size: 1.5rem;
    margin: 0 2%;
  }
  .search-results input:checked + li ul {
    font-size: 1.2rem;
  }
  
  .search-results input:checked + li {
    top: 85px;
  }
  
  .category dt,
  .contact-info dt {
    font-size: 1.2rem;
  }
  
  .category dd {
    vertical-align: top;
  }
  
  #delete-contact button {
    margin: 0 2%;
  }
}

@media screen and (min-width: 800px) {

  .search-methods {
    display: inline-block;
    width: 30%;
    background-color: #F5F5F5;
    padding: 2% 0 100px 2%;
  }

  .search-results {
    box-sizing: border-box;
    display: inline-block;
    width: 65%;
    vertical-align: top;
  }
  
  .category-search ul {
    flex-direction: column;
  }
  
  .category-search li {
    width: 60%;
    margin: 10px 0 10px 20px;
  }
   
  .name-search input{
    margin-top: 10px;
    width: 70%;
  }
  
  .name-search button {
    width: 60%;
    margin: 10px 0 10px 5%;
  }
  
  .search-results input:checked + li {
    position: absolute;
    background-color: #fff;
    top: 82px;
    left: 32%;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 10px 20px;
  }
  
  .search-results input:checked + li p {
    text-align: left;
  }
}

